@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  overflow-x: hidden;
  scroll-behavior:smooth;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Hide default cursor on desktop */
@media (min-width: 768px) {
  * {
    cursor: none !important;
  }
}

:root{
    font-family: 'Satoshi', sans-serif;
    font-optical-sizing: auto;
    --bg-color: #0e0d0d;
    --text-color: #ffffff;
    background: var(--bg-color);
    overflow-x: hidden;
    color: var(--text-color);
}

:root.dark {
    --bg-color: #0e0d0d;
    --text-color: #ffffff;
}

:root:not(.dark) {
    --bg-color: #f8fafc;
    --text-color: #0f172a;
}

.will-change-transform {
    will-change: transform, opacity;
}

.text-responsive {
    font-size: clamp(1rem, 0.8852rem + 0.3898vw, 1.375rem);
  }
